{minimum_otp_vsn, "26"}.

{deps, [
  {cowboy_swagger, "~> 2.7.0"},
  {jsx, "~> 3.1.0"},
  {epgsql, "~> 4.7.1"},
  {pooler, "~> 1.6.0"}
]}.

{relx, [
  {release, {erl_planner, "0.1.0"},
  [erl_planner, sasl]},
  {sys_config, "./config/sys.config"}
]}.

{profiles, [{prod, [
  {relx, [{mode, prod}]}]},
  {test, [
    {deps, []},
    {erl_opts, [
      debug_info,
      nowarn_export_all,
      nowarn_missing_spec
    ]}
  ]}
]}.