[
  {erl_planner, [
    {pools, [
      #{
        name => ep_db,
        init_count => 5,
        max_count => 10,
        start_mfa => {epgsql, connect, [#{
          host => "db",
          port => 5432,
          username => "ep_admin",
          password => "ep_password",
          database => "ep_db"
      }]}
      }
    ]}

  ]},

  {kernel,
    [
      {logger_level, info},
      {logger,
        [{handler, default, logger_std_h,
          #{formatter => {logger_formatter,
            #{single_line => true, template => [time, " [", level, "] ", pid, " ", mfa, ": ", line, ": ", msg, "\n"]}}}}]}
    ]},

  {cowboy_swagger,
    [
      {global_spec,
        #{openapi => "3.0.3",
          info => #{title => "API"},
          basePath => "/api-docs"
        }
      }
    ]}
].

